body {
    max-width: 1080px !important;
    margin: 0 auto;
}
.flex-container {

    display: flex;

    justify-content: center;
    align-items: flex-start;
    /* flex-flow: column wrap; */
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

    background-color: #bbdefb;
    height: 100%;
    padding: 15px;
    gap: 5px;

}

.flex-container > div{
    background: #ffecb3;
    border: 3px solid #ffcc80;
    border-radius: 5px;
    padding: 8px;
}
.card-body{
    padding: 20px;
    background-color: white;

    border-radius: 25px;
    max-width: 100%;
}
.card-body img{
    width: 100%;
    height:100%;
    object-fit: cover;
}





@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
        max-width: 768px;
        margin: 0 auto;
    }
}